/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}



/*
 body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg,#747474,#000000);
  animation: gradient 10s linear infinite;
}*/

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 200% 200%;
  background-image: url('../images/index.png');
  animation: gradient 120s linear infinite;
}

@keyframes gradient {
  0% {
      background-position: 100% 0%;
  }
  50% {
      background-position: 0% 100%;
  }
  100% {
      background-position: 100% 0%;
  }
}


.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
